<?xml version="1.0"?>
<config>
	<modules>
		<Done_Bonus>
			<version>0.1.0</version>
		</Done_Bonus>
	</modules>
	<global>
		<blocks>
			<bonus>
				<class>Done_Bonus_Block</class>
			</bonus>
			<adminhtml>
                <rewrite>
                    <promo_quote_edit_tab_main>Done_Bonus_Block_Adminhtml_Promo_Quote_Edit_Tab_Main</promo_quote_edit_tab_main>    
                </rewrite>
            </adminhtml>
		</blocks>
		<helpers>
			<bonus>
				<class>Done_Bonus_Helper</class>
			</bonus>
		</helpers>
		<models>
			<bonus>
				<class>Done_Bonus_Model</class>
				<resourceModel>bonus_mysql4</resourceModel>
			</bonus>
			<salesrule>
                <rewrite>
                    <rule_condition_address>Done_Bonus_Model_SalesRule_Rule_Condition_Address</rule_condition_address>
                    <rule>Done_Bonus_Model_SalesRule_Rule</rule>    
                </rewrite>
            </salesrule>
            <salesrule_resource>
            	<rewrite>
                    <rule>Done_Bonus_Model_SalesRule_Resource_Rule</rule>
                    <rule_collection>Done_Bonus_Model_SalesRule_Resource_Rule_Collection</rule_collection>    
                </rewrite>
            </salesrule_resource>
		</models>
		<resources>
			<bonus_setup>
				<setup>
					<module>Done_Bonus</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</bonus_setup>
			<bonus_write>
				<connection>
					<use>core_write</use>
				</connection>
			</bonus_write>
			<bonus_read>
				<connection>
					<use>core_read</use>
				</connection>
			</bonus_read>
		</resources>
	</global>
	<frontend>
        <layout>
            <updates>
                <bonus>
                    <file>bonus.xml</file>
                </bonus>
            </updates>
        </layout>
   </frontend>
</config> 